<div class="root-div">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div fxFlex="100%">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Pen</mat-label>
          <input
            type="text"
            placeholder="Pick one"
            aria-label="Number"
            matInput
            [formControl]="pen"
            name="pen"
            [matAutocomplete]="penAuto"
          />
          <mat-autocomplete
            #penAuto="matAutocomplete"
            [displayWith]="displayPen"
          >
            @for (option of penFilteredOptions$ | async; track option) {
            <mat-option [value]="option">
              {{ option.maker }} - {{ option.modelName }}
              <input type="color" disabled value="{{ option.color }}" />
            </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div fxFlex="100%">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Ink</mat-label>
          <input
            type="text"
            placeholder="Pick one"
            aria-label="Number"
            matInput
            [formControl]="ink"
            name="ink"
            [matAutocomplete]="inkAuto"
          />
          <mat-autocomplete
            #inkAuto="matAutocomplete"
            [displayWith]="displayInk"
          >
            @for (option of inkFilteredOptions$ | async; track option) {
            <mat-option [value]="option">
              {{ option.maker }} - {{ option.inkName }}
              <input type="color" disabled value="{{ option.color }}" />
            </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div fxFlex="100%">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Ink match rating</mat-label>
          <input matInput formControlName="matchRating" name="matchRating" />
        </mat-form-field>
      </div>

      <!-- <div fxFlex="100%">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Inked at</mat-label>
      <input matInput formControlName="inkedAt" name="inkedAt" >
    </mat-form-field>
  </div> -->

      <div fxFlex="100%">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Inked at</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="inkedAt"
            name="inkedAt"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxFlex="100%">
        <div class="row" *ngIf="validationErrors">
          <ul class="text-danger">
            @for (error of validationErrors; track error) {
            <li>
              {{ error }}
            </li>
            }
          </ul>
        </div>
        <button mat-flat-button color="primary" type="submit">
          {{ inkedUp.id ? "Update" : "Create" }}
        </button>
        <button
          style="margin-left: 5%"
          mat-flat-button
          color="warn"
          type="button"
          (click)="delete()"
        >
          Delete
        </button>
      </div>
    </div>
  </form>
</div>
