<div class="root-div">
  <form style="margin-top: 16px;" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div fxLayout="column" fxLayoutAlign="center center">

      <div fxFlex="100%">
        <mat-form-field appearance="outline" style="min-width:50px; width: 30%; margin-right:8px">
          <mat-label>Search</mat-label>
          <input matInput formControlName="fulltext" name="fulltext">
        </mat-form-field>

        <button mat-flat-button color="primary" type="submit">
          Search
        </button>
      </div>

    </div>
  </form>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="searchResultType">
      <th mat-header-cell *matHeaderCellDef>Result</th>
      <td mat-cell *matCellDef="let element"> {{element.searchResultType}} </td>
    </ng-container>
    <ng-container matColumnDef="maker">
      <th mat-header-cell *matHeaderCellDef> Maker </th>
      <td mat-cell *matCellDef="let element"> {{element.maker}} </td>
    </ng-container>
    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.model}} </td>
    </ng-container>
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef> Color </th>
      <td mat-cell *matCellDef="let element"> @if (element.color) {
        <input type="color" value="{{element.color}}" disabled>
      } </td>
    </ng-container>
    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef> Comment </th>
      <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
    </ng-container>
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef> Rating </th>
      <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr (click)="openResult(row.id, row.searchResultType)"
    mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
