<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div fxFlex="100%">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Maker</mat-label>
          <input matInput formControlName="maker" name="maker" >
          <mat-error *ngIf="form.get('maker')?.hasError('required')">This field is required</mat-error>
        </mat-form-field>
      </div>
  
      <div fxFlex="100%">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Name</mat-label>
          <input matInput formControlName="inkName" name="inkName" >
          <mat-error *ngIf="form.get('inkName')?.hasError('required')">This field is required</mat-error>
        </mat-form-field>
      </div>
  
      <div fxFlex="100%">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Comment</mat-label>
          <input matInput formControlName="comment" name="comment">
          <mat-error *ngIf="form.get('comment')?.hasError('required')">This field is required</mat-error>
        </mat-form-field>
      </div>
  
      <div fxFlex="100%">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Color</mat-label>
          <input type="color" matInput formControlName="color" name="color" >
          <mat-error *ngIf="form.get('color')?.hasError('required')">This field is required</mat-error>
        </mat-form-field>
      </div>
  
      <div fxFlex="100%">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Rating</mat-label>
          <input matInput formControlName="rating" name="rating" >
          <mat-error *ngIf="form.get('rating')?.hasError('required')">This field is required</mat-error>
        </mat-form-field>
      </div>    

      <div fxFlex="100%">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Milliliters</mat-label>
          <input matInput formControlName="ml" name="ml" >
          <mat-error *ngIf="form.get('ml')?.hasError('ml')">This field is required</mat-error>
        </mat-form-field>
      </div>    

  
      <div fxFlex="100%">
        <div class="row" *ngIf="validationErrors">
          <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
              {{error}}
            </li>
          </ul>
        </div>
        <button mat-flat-button color="primary" type="submit"
                >
          {{ink.id ? "Update" : "Create"}}
        </button>
      </div>
    </div>

  </form>
  <app-image-uploader [onUploadComplete]="handleUploadComplete" [onError]="handleUploadError" ></app-image-uploader>